
 /* ==========================================================================
    Custom Reset CSS
    ========================================================================== */
    html, body, div, span, ul, li {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }


 /* ==========================================================================
    General
    ========================================================================== */
    body {
      height: 100%;
      background: #325716;
      background-attachment: fixed;
      background-image: url('../images/bg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: 'Baloo Paaji', cursive, 'Arial', sans serif;;
    }

    .loader {
      font-size: 10px;
      margin: 50px auto;
      text-indent: -9999em;
      width: 11em;
      height: 11em;
      border-radius: 50%;
      background: #fff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }

    .loader:before {
      width: 50%;
      height: 50%;
      background: #fff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    .loader:after {
      background: #eee;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .main {
      width: 55%;
      border: solid 1px #5E8749;
      background: rgba(4, 102, 41, 0.5);
      margin: 2% auto;
      font-size: 0.8em;
      color: #fff;
      box-shadow: 0px 0px 4px #333;
      animation: animationFrames ease 1s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards; /*when the spec is finished*/
      -webkit-animation: animationFrames ease 1s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
      border-radius: 15px;
    }

    .main.center {
      text-align: center;
      font-size: 1em;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    .main .back {
      font-size: 1.15em;
      margin: 2% auto;
      text-align: center;
      display: block;
      text-decoration: none;
      color: #fff;
    }

    .main .back:hover {
      text-decoration: underline;;
    }

    .head--grid {
      display: table;
      width: 100%;
      color: #fff;
      background: rgba(92, 117, 141, 0.5);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .head--grid span {
      width: 33%;
      display: table-cell;
      text-align: center;
      padding: 1.5% 0;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    .head--grid .search {
      width: 55%;
      border: solid 1px #37745B;
      border-radius: 15px;
      text-align: center;
      margin: 2% 0 0;
      padding: 2% 1%;
      color: #ccc;
      background: #fafafa;
    }

    .content--grid {
      display: table;
      width: 100%;
      border-top: 1px #5E8749 solid;
    }

    .content--grid:nth-child(2n+1) {
      background: rgba(40, 119, 54, 0.5);
    }

    .content--grid span {
      font-size: 1.35em;
      line-height: 1.3;
      width: 33%;
      display: table-cell;
      text-align: center;
      padding: 1% 0;
      vertical-align: middle;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    .content--grid .chart {
      vertical-align: middle;
      background: url("../images/chart.png");
      width: 24px;
      height: 24px;
      display: inline-block;
    }


/* ==========================================================================
 Animation
 ========================================================================== */

/* loader */
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Section Main */
@keyframes animationFrames {
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px);
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px);
  }
}


/* ==========================================================================
 Media Queries
 ========================================================================== */

 /* Large screen
    This is for screens greater than 768px
 */
 @media screen and (min-width: 768px) {

 }


 /* Medium screen
    This is for screens greater than 320px and equal to or smaller to 768px
 */
 @media (min-width: 320px) and (max-width: 768px) {

   .content--grid {
     padding: 1% 0;
     display: inherit;
   }

   .content--grid span {
     padding: 2% 0;
   }

   .content--grid span:nth-child(1),
   .content--grid span:nth-child(2),
   .content--grid span:nth-child(3) {
     display: inline-block;
     width: 49%;
   }

   .head--grid {
     display: none;
   }

 }


 /* Narrow screen
    This is for screens 320px wide and smaller
 */
 @media screen and (max-width: 320px) {

   .content--grid span:nth-child(1),
   .content--grid span:nth-child(2),
   .content--grid span:nth-child(3) {
     display: block;
     width: 100%;
   }

   .head--grid {
     display: none;
   }

 }
