<div ng-hide="loading">
  <section class="main">
    <ul class="grid">
      <li class="head--grid">
        <span> Team name </span>
        <span> Back odds </span>
        <span> Lay odds </span>
      </li>
    </ul>
    <ul>
     <li ng-repeat="post in posts" class="content--grid">
       <span>
         <a class="chart" href="#/comments/{{post.id}}" title="Plot a chart of price movement over time">{{post.comments.length}} &nbsp </a>
         {{post.name}}
       </span>
       <span> {{post.price}} <br> {{post.size}} </span>
       <span> {{post.layprice}} <br> {{post.laysize}} </span>
     </li>
    </ul>
  </section>
</div>
