<div ng-hide="loading">
  <section class="main">
    <ul class="grid">
      <li class="head--grid">
        <span> Team name </span>
        <span> Back odds </span>
        <span> Lay odds </span>
      </li>
    </ul>
    <ul>
     <li ng-repeat="post in posts" class="content--grid">
       <span>
         <a href="#/comments/{{post.id}}">{{post.comments.length}} icon</a>
         {{post.name}}
       </span>
       <span> {{post.content}} </span>
       <span> 5 </span>
     </li>
    </ul>
  </section>
</div>
